<form class="grid-container">
    <select class="form-field" name="display-options" id="display-options">
        <option value="list">List</option>
        <option value="detail">Detail</option>
    </select>

    <select class="form-field" name="category-options" id="category-options">
        <option class="category-header" value="all">All Categories</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="main-dish">Main Dish</option>
        <option value="dessert">Dessert</option>
    </select>

    <input  class="form-field" type="search" placeholder="Recipe Id"/>

    <input class="form-field" type="search" placeholder="search words"/>

    <input class="form-field" type="submit" value="Search"/>

</form>

    
        <!--
            <a [routerLink]="[{outlets: { list: 'breakfast'}}]">List</a>
    <a [routerLink]="[{outlets: { detail: 'breakfast/2'}}]">Detail</a>  
    -->

