form{
    margin-bottom: 5vh;
};

select{
    height: 30px;
};

.grid-container{
    display: grid;
    grid-template-columns: 10% 10% 10% 20% 10%;
};

.form-field{
    margin-right: 2vw;
};

.category-header{
    font-weight: bold;
}